.movie-stat-title {
    color: darkred;
    font-size: 3rem;
    padding: 2rem;;
}

.movie-stat-table {
    text-align: center;
    padding: 2rem;
    width: 100%;
}

.movie-stat-head {
    background-color: blueviolet;
    font-size: 2rem;
    padding: 2rem;;
}

.movie-stat-row {
    color: green;
    font-size: 1.5rem;
    padding: 2rem;
}

